# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio stuff
.vs
*.sln

# Python files
*.spec

# Miscellaneous
bin/
build/
!premake5.exe
Deploy/
History/
DeployInstallers/build/
DeployInstallers/dist/
DeployInstallers/x64-CompilePython/
DeployInstallers/x64-Deploy/
DeployInstallers/uninstall.spec
DeployInstallers/updater.spec
Installer-x64/Debug/
Installer-x64/Release/
PythonModules/__pycache__/
TechnicalSketcher/temp/
TechnicalSketcher/imgui.ini
64/
x64/
